code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html {
	scroll-behavior: smooth;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.shows {
	height: inherit;
	float: left;
	position: relative;
	width: 100%;
	top: 0;
	background: rgb(5, 5, 5);
}

/* header styling */
.headerContent {
	text-align: justify;
	text-justify: inter-word;
	display: block;
	color: white;
	justify-content: left;
}
.headerText {
	font-size: 75px;
}

/* parallax styling */
.parallaxMain {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
}

.parallaxSection {
	height: 100vh;
	perspective: 1px;
	transform-style: preserve-3d;
	z-index: -1;
}

.parallaxSection:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(https://wallpaperaccess.com/full/1222722.jpg);
	background-repeat: no-repeat;
	background-size: cover; /* Resize the background image to cover the entire container */
	background-color: rgb(5, 5, 5); /* Used if the image is unavailable */

	transform: translateZ(-2px) scale(4.5);
	z-index: -1;
}

.staticSection {
	height: max-content;
	background-color: rgb(14, 14, 14);
	color: white;
	position: relative;
	z-index: 0;
}

/* gradient styling */
.gradient {
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 100%;
	display: block;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 0, 0, 0),
		rgb(14, 14, 14)
	);
}

/* footer styling*/
.footerSection {
	background-color: rgb(20, 20, 20);
	bottom: 0;
	position: static;
	z-index: 1;
	color: grey;
	font-weight: lighter;
}

.footerContent {
	padding-top: 50px;
	vertical-align: bottom;
	max-width: 50%;
	padding-bottom: 50px;
}
