/* header styling */
.headerContent {
	text-align: justify;
	text-justify: inter-word;
	display: block;
	justify-content: left;
}
.headerText {
	font-size: 75px;
}

/* gradient styling */
.gradient {
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 100%;
	display: block;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 0, 0, 0),
		rgb(15, 15, 15)
	);
}

/* footer styling*/
.footerSection {
	background-color: rgb(20, 20, 20);
	bottom: 0;
	position: static;
	z-index: 1;
	color: grey;
	font-weight: lighter;
}

.footerContent {
	padding-top: 50px;
	vertical-align: bottom;
	max-width: 50%;
	padding-bottom: 50px;
	margin: auto;
}
