code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html {
	scroll-behavior: smooth;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.shows {
	height: inherit;
	float: left;
	position: relative;
	width: 100%;
	top: 0;
	background: rgb(5, 5, 5);
}
