/* bar styling */
.topNav {
	opacity: 95%;
	background-color: rgb(15, 15, 15);
	padding-left: 10px;
	height: 50px;
}

.menuContainer {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;
	overflow: hidden;
	transition: margin-left 0.5s;
}

/* button styling */
#form {
	display: inline-block;
}
#searchForm {
	display: inline-block;
}
#searchButton {
	vertical-align: middle;
}
#menuButton {
	display: inline-block;
}
