code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.parallax-container {
	position: relative;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.content {
	text-align: justify;
	text-justify: inter-word;
	display: block;
	color: white;
	justify-content: left;
}
.headerText {
	font-size: 75px;
}
.subText {
}
.parallax-section {
	height: 100vh;
	perspective: 1px;
}

.parallax-section {
	transform-style: preserve-3d;
	z-index: -1;
}

.parallax-section:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url(https://wallpaperaccess.com/full/1222722.jpg);
	background-repeat: no-repeat;
	background-size: cover; /* Resize the background image to cover the entire container */
	background-color: rgb(5, 5, 5); /* Used if the image is unavailable */

	transform: translateZ(-2px) scale(4.5);
	z-index: -1;
}
.gradient {
	position: absolute;
	bottom: 0;
	height: 50%;
	width: 100%;
	display: block;
	background-image: linear-gradient(
		to bottom,
		rgba(255, 0, 0, 0),
		rgb(14, 14, 14)
	);
}
.static-section {
	height: max-content;
	/* box-shadow: 0 0 25px 25px rgb(14, 14, 14); */
	background-color: rgb(14, 14, 14);
	color: white;
	position: relative;
	z-index: 0;
}

.footer {
	background-color: rgb(20, 20, 20);
	bottom: 0;
	position: static;
	z-index: 1;
	color: white;
	font-weight: lighter;
}

.footer-content {
	padding-top: 50px;
	vertical-align: bottom;
	max-width: 50%;
	padding-bottom: 50px;
}
